<% model.foods.each do |food| %>
  <% if food.errors.any? %>
    <% if food.availability %>
      <div class="error-alert">
        <ul>
          <% food.errors.full_messages.each do |message| %>
          <li class='error-message'><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>