/* border-bottom: 1px solid #eee; */


.items-sell-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  /* display: flex;
  align-items: center; */
  /* flex-direction: column; */
  min-width: 500px;
}

.items-nav {
  background-color: #FFF;
  width: 80vw;
  min-width: 450px;
  padding: 5vh 10vw;
}

.items-nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.items-nav li{

  margin-right: 5px;
}

/* ボタン部分 */
.items-nav .btn--blue {
  color: #000;
  background-color:#EEEEEE;
  border-bottom: 5px solid #0099e8;
}

.items-nav .btn--blue:hover {
  margin-top: 3px;
  color: #000;
  background:#0099e8;
  border-bottom: 2px solid #0099e8;
}

.btn--cubic{
  width: 100%;
}
/* ボタン部分 */

.items-sell-main {
  background-color: #FFF;
  width: 80vw;
  min-width: 450px;
  padding: 10vh 10vw;
}

.items-sell-main h3{
  font-weight: 400;
}

.items-sell-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #0099e8;
}

.item-table{
  margin: 30px auto;
  text-align: center;
}

.item-tr{
  text-align: center;
  font-weight: 400;
}


/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}